.alert-icon-container{
    color:blue;
    font-size:x-large;
    margin:15px;
}

.alert-triangle-container



{
    background: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: x-large;
    margin:15px;
}

.alert-check-double-container{
    background: green;
    height:100px;
    width:100px;
    border-radius: 50%;
    font-size: x-large;
    margin:15px
   
    
}

.avatar-chevron-right{
    
    position: absolute;
    top: 54%;
    width:auto;
    padding:16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    
    user-select: none;
    -webkit-user-select: none;
    right: 0;
    border-radius: 3px 0 0 3px;
}