.alert-icon-container{
    color:blue;
    font-size:x-large;
    margin:15px;
}

.alert-triangle-container{
    background: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: x-large;
    margin:15px;
}

.alert-check-double-container{
    background: green;
    height:100px;
    width:100px;
    border-radius: 50%;
    font-size: x-large;
    margin:15px
   
    
}