 :root{
        --color-blue-lighter2: #2370f4;
        --color-grey-grade5: #212121;
        --color-grey-grade0: #fafafa;
        --color-grey-grade6: #d7d7d7;
}

.avatar{
    
    font-size: 32px;
    margin-inline-start: 2rem;
    padding: 2rem 2rem ;
    margin-bottom: 1rem;
    display:inline-block;}

    .avatar-chevron-right, .avatar-chevron-left{
        position:absolute;
        top:54%;
        width:auto;
        padding:16px;
        margin-top: -50px;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0px 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;


                                                                   
    }

    .avatar-chevron-right{
        right: 0;
        border-radius: 3px 0 0 3px;
    }
   