.button1{
    background-color: black;
    color: white;
    border: 1px solid black;
    cursor:pointer;
    padding: 0.2rem 1rem;
    border-radius: 0.5rem;
    font-size: 10px;
}

.button2{
    background-color: blue;
    color: white;
    border: none;
    cursor:pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 2rem;
    font-size: 16px;
}

.button3{
    background-color: #e7e7e7;
    color: black;
    border: none;
    cursor:pointer;
    padding: 0.7rem 3rem;
    border-radius: 50%;
    font-size: 20px;
}

.button4{
    background-color: white;
    border: 2px solid green;
    padding: 0.5rem 1.5rem;
    color:green;
    cursor:pointer;
}

.button5{
    background-color: white;
    color:red;
    border: 2px solid red;
    padding: 0.5rem 3rem;
    border-radius: 0.2rem;
    
}

.button6{
    transition-duration: 0.4s;
    background-color:#e7e7e7;
    color: black;
    border:none;
    padding:0.5rem 1.5rem;
    cursor: pointer;

}
.button6:hover {
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border:2px solid gray;
    padding:0.5rem 1.5rem

}

.button7{
    transition-duration: 0.4s;
    background-color: white;
    color: black;
    border:2px solid black;
    padding:0.5rem 2rem;
    cursor: pointer;
}

.button7:hover{
    transition-duration: 0.4s;
    background-color: black;
    color: white;
    border:none;
    padding:0.5rem 2rem;
    cursor: pointer;}

   .button8{
    background-color: green;
    color:white;
    padding:0.5rem 1rem;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
   }

   .button9{
    transition-duration: 0.4s;
    background-color: green;
    color:white;
    padding:0.5rem 1rem;
    border: none;
    cursor: pointer;
   }

   .button9:hover{
    transition-duration: 0.4s;
    background-color: green;
    color:white;
    padding:0.5rem 1rem;
    border: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;

   }

   .button10{
    background-color: green;
    color:#e7e7e7;
    padding:0.5rem 1rem;
    text-decoration: none;
    border-radius: 1rem;
   }

   .button11{
    background-color: white;
    border:2px solid green;
    color:black;
    padding:0.5rem 1rem;
    text-decoration: none;
    border-radius: 1rem;

   }
   
   hr{
    margin:1rem 
   }

   