:root{
    --color-blue-lighter2: hsl(218, 90%, 55%);
    --color-grey-grade5: #212121;
    --color-grey-grade0: #fafafa;
    --color-grey-grade6: #d7d7d7;
}


.section{
    text-align: center;
    padding: 2rem
    
}
.gray{
    background-color: var(--color-grey-grade6) ;
    
}

