:root{
    --color-blue-lighter2: #2370f4;
    --color-grey-grade5: #212121;
    --color-grey-grade0: #fafafa;
    --color-grey-grade6: #d7d7d7;
}

body{
    margin:0px;
}

.navigation{
    background: var(--color-blue-lighter2);
    padding:1.2rem;
}
.nav-brand{
    font-weight: bold;
}

.list-item-inline{
 display: inline;}

 .nav-pills{
 text-align: right;
 
}
 .link{
    color:var(--color-grey-grade0);
    text-decoration: none;
    margin-left:4px;
}
.link-active{
    color:var(--color-grey-grade5);
    font-weight: bold;
    border: 2px solid var(--color-grey-grade0);
    border-radius: 2rem;
    padding: 0.5rem 1rem;
    background: var(--color-grey-grade0);
}

.avatar-chevron-right, .avatar-chevron-left{
    position:absolute;
    top:54%;
    width:auto;
    padding:16px;
    margin-top: -50px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0px 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;


                                                               
}

.avatar-chevron-right{
    right: 0;
    border-radius: 3px 0 0 3px;
}